@import "./base/_reset";
@import "./base/_font";
@import "./base/_animations";

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#root {
  height: 100%;
}
