<html>
    <head>
        <title>Index.ejs</title>
    </head>

    <body>
        <table style="width:100%" border=1>
            <caption>제목</caption>
            <tr>
                <td>1</td>
            </tr>
        </table>
        <!-- <form action="receive" method="GET">
            <fieldset>
                <legend>이름/성별</legend>
                <label>
                    이름 : 
                    <input type="text" name="name" placeholder="이름" required> <br>
                </label>
                <input type="radio" name="gender" id="gender_1" value="남">
                <label for="gender_1">남</label>
                <input type="radio" name="gender" value="여">여 <br>
            </fieldset>
            <fieldset>
                <input type="checkbox" name="sport" value="축구">축구
                <input type="checkbox" name="sport" value="야구">야구
                <input type="checkbox" name="sport" value="농구">농구 <br>
               
                <select name="year">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                </select>
            </fieldset>
            <button>전송</button>
        </form> -->
    </body>
</html>