


<div class="footer">
    <ul class="footer_txt">
        <div>
            <img class="logo_3" src="../img/logo_black_black.png">
        </div>
        <div class="logo_2">
            <a>이용약관 ｜</a>
            <a>개인정보처리방침｜</a>
            <a>주소 : (03925) 서울특별시 마포구 월드컵북로 400 (상암동) ｜</a>
            <a>전화번호 : (영등포)02-3667-7304 (금천)02-6673-1804 ｜</a>
            <a>Email : sesac@sba.seoul.kr</a><br>
            <a>구성원 : 염시온,김예은,송진세,이수림,장근영 ｜</a>
            <a>Copyright (c) "SeSSAC 4기 4조 내가해냄" All Rights Reserved.</a>
        </div>
    </ul>
</div> 

