<nav class="nav-container">
    <div class="logo-container"><img src="../img/logo_black.png" style="cursor: pointer;" alt="" onclick="location.href='dashboard'"></div>
    <ul>
        <li><a href="/dashboard"><i class="icon fa-solid fa-house"></i>홈</a></li>
        <li><a href="/calendar"><i class="icon fa-solid fa-calendar"></i>달력</a></li>
        <li><a href="/memo"><i class="icon fa-solid fa-file-pen"></i></i>메모</a></li>
    </ul>
</nav>