<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        function register(){
            var form = document.getElementById('form_register');
            var data = {
                id: form.id.value,
                name: form.name.value,
                pw: form.pw.value
            }
            axios.post(`/register`, data)
            .then((res)=>{
                alert('회원 가입 완료!');
                document.location.href = "/login";
            });
        }
    </script>
</head>
<body>
  <form id="form_register">
    <input type="text" placeholder="id" name="id">
    <br>
    <input type="password" name="pw">
    <br>
    <input type="text" placeholder="name" name="name">
    <button type="button" onclick="register();">회원가입</button>
  </form>
</body>
</html>