<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h5>users</h5>
  <table>
    <tr>
      <th>No.</th>
      <th>ID</th>
      <th>이름</th>
      <th>닉네임</th>
    </tr>
    <tr th:each="user:${list}">
      <td th:text="${user.getNo()}">번호</td>
      <td th:text="${user.getId()}">ID</td>
      <td th:text="${user.getName()}">이름</td>
      <td th:text="${user.getNickname()}">닉네임</td>
    </tr>
  </table>
</body>
</html>