<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot File Upload / Download Rest API Example</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<script>
</script>
<body>
    <form id="form_file" method="post" action="/file-upload" enctype="multipart/form-data">
        <input type="file" id="files" name="files">
        <input type="submit" id="submit" value="업로드">
    </form>
</body>
</html>