.signUpHeaderSection {
  display: flex;
  width: 30rem;
  height: 8rem;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;

  .signUpHeader {
    font-size: 2rem;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
  }
}
