<html>
    <head>
        <title>Form.ejs</title>
    </head>
    <body>
        <form action="/user" method="post">
            <input type="text" name="name">
            <input type="number" name="age">
            <button>전송</button>
        </form>
    </body>
</html>