<html>
    <head>
        <title> 메인페이지 </title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap'>
    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <link rel="stylesheet" href="/static/user.css">

    </head>
    <body>
        <div class="scene flex">
            <section class="card">
                <h1 class="card__heading">
                    <span> Hello! Main Page </span>
                </h1>
                <div id="mt-3" class="img_btns">
                    <a class="" href="/user/signup">
                        <span>회원가입</span>
                    </a>
                    &nbsp;
                    <a class="" href="/user/signin">
                        <span>로그인</span>
                    </a>
                </div>
            </section>
        </div>
    </body>
</html>