<html>
    <head>
        <title>파일업로드</title>
    </head>

    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="userfile">
            <input type="text" name="title">
            <button>업로드</button>
        </form>

        <br>
        
        <form action="/upload/array" method="post" enctype="multipart/form-data">
            <input type="file" name="userfile" multiple>
            <button>업로드</button>
        </form>

        <br>
        
        <form action="/upload/fields" method="post" enctype="multipart/form-data">
            <input type="file" name="image1">
            <input type="file" name="image2">
            <button>업로드</button>
        </form>
    </body>
</html>